
* {
   /* border: 1px solid white;*/
}
#geradorContainer {
    font-family: 'Quicksand', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(250, 250, 250);

}

#Questao form label {
    
    display: block;
    padding: 10px 0px;
    cursor: pointer;
    color: white;
    background-color: rgb(54, 83, 138);
    background-image: linear-gradient(to right, rgb(92, 129, 204) , rgb(164, 194, 250));
    border-radius: 10px;
    margin: 20px 0px;
}
#Questao form input {
margin-right: 10px;



}